<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/error.css">
    <title>Document</title>
</head>
<style>
    body{
        margin: 0%;
        padding: 0px;
    }
</style>
<body>
    
<h1>{{code}}</h1>
<div class="cloak__wrapper">
  <div class="cloak__container">
    <div class="cloak"></div>
  </div>
</div>
<div class="info">
  <h2>{{message}}</h2>
  <!-- <p>{{message}}</p> -->
  <a href="/" target="_blank" rel="noreferrer noopener">Home</a>
</div>
</body>
</html>